<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alguojian.crash">

    <application android:enabled="true">

        <activity
            android:name=".CrashDetailsActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.alguojian.crash.CrashListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:exported="false"
            android:icon="@drawable/aaaa"
            android:label="崩溃日志"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity-alias
            android:name="com.alguojian.crash.CrashLauncherActivity"
            android:enabled="true"
            android:exported="false"
            android:icon="@drawable/aaaa"
            android:label="崩溃日志"
            android:targetActivity="com.alguojian.crash.CrashListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity-alias>

    </application>

</manifest>