<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alguojian.crash">

    <application>

        <activity
            android:name="com.alguojian.logcrash.CrashDetailsActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.alguojian.logcrash.CrashListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

    </application>
</manifest>