<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alguojian.logcrash">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".Mpapp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.alguojian.crash.CrashListActivity"
            android:icon="@drawable/aaaa"
            android:label="崩溃日志"
            android:taskAffinity="com.alguojian.crash.${applicationId}"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity-alias
            android:name="com.alguojian.crash.CrashLauncherActivity"
            android:icon="@drawable/aaaa"
            android:label="崩溃日志"
            android:targetActivity="com.alguojian.crash.CrashListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity-alias>


    </application>

</manifest>